body
{
  background-color: #1E88E5;
  position: relative;
}

#section1 {display: inline-block;padding-top:50px;width: 100%;color: #fff; background-color: inherit;}
#section2 {display: inline-block;padding-top:50px;width: 100%;color: #fff; background-color: inherit;}
#section3 {display: inline-block;padding-top:50px;width: 100%;color: #fff; background-color: inherit;}
#section4 {display: inline-block;padding-top:50px;width: 100%;color: #fff; background-color: inherit;}

.row {
  background-color: rgb(33, 96, 186);
  height: inherit;
  box-shadow:         inset 0 0 10px #000000;
  padding: 10px;

}
.col {
  position: relative;
  padding: 2px;

}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
  box-shadow: 3px 2px 3px black;

}
.grid-container-player {
  display: grid;
  grid-template-columns:auto;
  grid-gap: 2px;
  background-color: #2196F3;
  padding: 10px;
  box-shadow: 3px 2px 3px black;

}
#enemy-char{
}

.box{
  height: 67vh;
}

.statsType p{
text-align: left;
}
.statsType {
padding: 10px;
}
.dropdown-stats{
float: right;

}
.container-fluid{
  box-shadow:         inset 0 0 10px #000000;
}


.btn-save{
  box-shadow: 1px 2px 3px black;
color: white;
background-color: rgb(0, 16, 168);
}
.btn-save:hover{
  box-shadow: 1px 2px 3px black;
background-color: rgb(192, 138, 255);
color: black;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  box-shadow: 1px 2px 3px black;
  color: black;
}
.container-fluid{
  padding: 10px;
}
.column-container{
  margin: 10px;

}
.col-play{
}

#section1 img{
  width: 70px;
  float: right;
  margin: 10px;

}

/*
POPUP for the icons created
*/
/* Popup container - can be anything you want */
